---
import BlogArticle from '../../components/BlogArticle.astro';
import BlogPostNav from '../../components/BlogPostNav.astro';
import SiteLayout from '../../layouts/SiteLayout.astro';
import '../../styles/blog-post.css';
---

<SiteLayout
	title="Sample Blog Post Two | Ever Onward Canine"
	description="Sample blog post from Ever Onward Canine."
>
	<BlogArticle
		title="Sample Blog Post Two"
		date="Apr 9"
		datetime="2026-04-09"
		imageSrc="/images/home/jack-russel-terrier-puppy-2W8VNP6.webp"
		imageAlt="Jack Russell terrier puppy resting in white bedding."
	>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
			ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
			sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
			est laborum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
			ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
			sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
			est laborum.
		</p>
	</BlogArticle>

	<BlogPostNav olderHref="/blog/sample-blog-post-one" olderTitle="Sample Blog Post One" />
</SiteLayout>
